<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-oci-index") %>>
            <a href="/docs/providers/oci/index.html">Oracle Cloud Infrastructure Provider</a>
        </li>
        <li<%= sidebar_current("docs-oci-guide") %>>
        <a href="#">Guides</a>
        <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-oci-guide-best_practices") %>>
                <a href="/docs/providers/oci/guides/best_practices.html">Best Practices</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-faq") %>>
                <a href="/docs/providers/oci/guides/faq.html">Frequently Asked Questions</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-filters") %>>
                <a href="/docs/providers/oci/guides/filters.html">Filters</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-managing_default_resources") %>>
                <a href="/docs/providers/oci/guides/managing_default_resources.html">Managing Default Resources</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-object_store_backend") %>>
                <a href="/docs/providers/oci/guides/object_store_backend.html">Object Store Backend</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-tagging_resources") %>>
                <a href="/docs/providers/oci/guides/tagging_resources.html">Tagging Resources</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-troubleshooting") %>>
                <a href="/docs/providers/oci/guides/troubleshooting.html">Troubleshooting</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-version-2-upgrade") %>>
                <a href="/docs/providers/oci/guides/version-2-upgrade.html">Upgrading to Version 2</a>
            </li>
            <li<%= sidebar_current("docs-oci-guide-version-3-upgrade") %>>
                <a href="/docs/providers/oci/guides/version-3-upgrade.html">Upgrading to Version 3</a>
            </li>
        </ul>
        </li>
        <li<%= sidebar_current("docs-oci-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                 <li<%= sidebar_current("docs-oci-datasource-audit-configuration") %>>
                     <a href="/docs/providers/oci/d/audit_configuration.html">oci_audit_configuration</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-audit-events") %>>
                     <a href="/docs/providers/oci/d/audit_audit_events.html">oci_audit_events</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-cluster_kube_config") %>>
                     <a href="/docs/providers/oci/d/containerengine_cluster_kube_config.html">oci_containerengine_cluster_kube_config</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-cluster_option") %>>
                     <a href="/docs/providers/oci/d/containerengine_cluster_option.html">oci_containerengine_cluster_option</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-clusters") %>>
                     <a href="/docs/providers/oci/d/containerengine_clusters.html">oci_containerengine_clusters</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-node_pool") %>>
                     <a href="/docs/providers/oci/d/containerengine_node_pool.html">oci_containerengine_node_pool</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-node_pool_option") %>>
                     <a href="/docs/providers/oci/d/containerengine_node_pool_option.html">oci_containerengine_node_pool_option</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-node_pools") %>>
                     <a href="/docs/providers/oci/d/containerengine_node_pools.html">oci_containerengine_node_pools</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-work_request_errors") %>>
                     <a href="/docs/providers/oci/d/containerengine_work_request_errors.html">oci_containerengine_work_request_errors</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-work_request_log_entries") %>>
                     <a href="/docs/providers/oci/d/containerengine_work_request_log_entries.html">oci_containerengine_work_request_log_entries</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-containerengine-work_requests") %>>
                     <a href="/docs/providers/oci/d/containerengine_work_requests.html">oci_containerengine_work_requests</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-app_catalog_listing") %>>
                     <a href="/docs/providers/oci/d/core_app_catalog_listing.html">oci_core_app_catalog_listing</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-app_catalog_listing_resource_version") %>>
                     <a href="/docs/providers/oci/d/core_app_catalog_listing_resource_version.html">oci_core_app_catalog_listing_resource_version</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-app_catalog_listing_resource_versions") %>>
                     <a href="/docs/providers/oci/d/core_app_catalog_listing_resource_versions.html">oci_core_app_catalog_listing_resource_versions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-app_catalog_listings") %>>
                     <a href="/docs/providers/oci/d/core_app_catalog_listings.html">oci_core_app_catalog_listings</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-app_catalog_subscriptions") %>>
                     <a href="/docs/providers/oci/d/core_app_catalog_subscriptions.html">oci_core_app_catalog_subscriptions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-boot_volume") %>>
                     <a href="/docs/providers/oci/d/core_boot_volume.html">oci_core_boot_volume</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-boot_volume_attachments") %>>
                     <a href="/docs/providers/oci/d/core_boot_volume_attachments.html">oci_core_boot_volume_attachments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-boot_volume_backup") %>>
                     <a href="/docs/providers/oci/d/core_boot_volume_backup.html">oci_core_boot_volume_backup</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-boot_volume_backups") %>>
                     <a href="/docs/providers/oci/d/core_boot_volume_backups.html">oci_core_boot_volume_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-boot_volumes") %>>
                     <a href="/docs/providers/oci/d/core_boot_volumes.html">oci_core_boot_volumes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-console_histories") %>>
                     <a href="/docs/providers/oci/d/core_console_histories.html">oci_core_console_histories</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-console_history_data") %>>
                     <a href="/docs/providers/oci/d/core_console_history_content.html">oci_core_console_history_data</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cpes") %>>
                     <a href="/docs/providers/oci/d/core_cpes.html">oci_core_cpes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect.html">oci_core_cross_connect</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect_group") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect_group.html">oci_core_cross_connect_group</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect_groups") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect_groups.html">oci_core_cross_connect_groups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect_locations") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect_locations.html">oci_core_cross_connect_locations</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect_port_speed_shapes") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect_port_speed_shapes.html">oci_core_cross_connect_port_speed_shapes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connect_status") %>>
                     <a href="/docs/providers/oci/d/core_cross_connect_status.html">oci_core_cross_connect_status</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-cross_connects") %>>
                     <a href="/docs/providers/oci/d/core_cross_connects.html">oci_core_cross_connects</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-dhcp_options") %>>
                     <a href="/docs/providers/oci/d/core_dhcp_options.html">oci_core_dhcp_options</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-drg_attachments") %>>
                     <a href="/docs/providers/oci/d/core_drg_attachments.html">oci_core_drg_attachments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-drgs") %>>
                     <a href="/docs/providers/oci/d/core_drgs.html">oci_core_drgs</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-fast_connect_provider_service") %>>
                     <a href="/docs/providers/oci/d/core_fast_connect_provider_service.html">oci_core_fast_connect_provider_service</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-fast_connect_provider_services") %>>
                     <a href="/docs/providers/oci/d/core_fast_connect_provider_services.html">oci_core_fast_connect_provider_services</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-images") %>>
                     <a href="/docs/providers/oci/d/core_images.html">oci_core_images</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance") %>>
                     <a href="/docs/providers/oci/d/core_instance.html">oci_core_instance</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_configuration") %>>
                     <a href="/docs/providers/oci/d/core_instance_configuration.html">oci_core_instance_configuration</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_configurations") %>>
                     <a href="/docs/providers/oci/d/core_instance_configurations.html">oci_core_instance_configurations</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_console_connections") %>>
                     <a href="/docs/providers/oci/d/core_instance_console_connections.html">oci_core_instance_console_connections</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_credentials") %>>
                     <a href="/docs/providers/oci/d/core_instance_credential.html">oci_core_instance_credentials</a>
                 </li>
                  <li<%= sidebar_current("docs-oci-datasource-core-instance_devices") %>>
                     <a href="/docs/providers/oci/d/core_instance_devices.html">oci_core_instance_devices</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_pool") %>>
                     <a href="/docs/providers/oci/d/core_instance_pool.html">oci_core_instance_pool</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_pool_instances") %>>
                     <a href="/docs/providers/oci/d/core_instance_pool_instances.html">oci_core_instance_pool_instances</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instance_pools") %>>
                     <a href="/docs/providers/oci/d/core_instance_pools.html">oci_core_instance_pools</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-instances") %>>
                     <a href="/docs/providers/oci/d/core_instances.html">oci_core_instances</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-internet_gateways") %>>
                     <a href="/docs/providers/oci/d/core_internet_gateways.html">oci_core_internet_gateways</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-ip_sec_connections") %>>
                     <a href="/docs/providers/oci/d/core_ip_sec_connections.html">oci_core_ip_sec_connections</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-ipsec_config") %>>
                     <a href="/docs/providers/oci/d/core_ip_sec_connection_device_config.html">oci_core_ipsec_config</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-ipsec_status") %>>
                     <a href="/docs/providers/oci/d/core_ip_sec_connection_device_status.html">oci_core_ipsec_status</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-letter_of_authority") %>>
                     <a href="/docs/providers/oci/d/core_letter_of_authority.html">oci_core_letter_of_authority</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-local_peering_gateways") %>>
                     <a href="/docs/providers/oci/d/core_local_peering_gateways.html">oci_core_local_peering_gateways</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-nat_gateway") %>>
                     <a href="/docs/providers/oci/d/core_nat_gateway.html">oci_core_nat_gateway</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-nat_gateways") %>>
                     <a href="/docs/providers/oci/d/core_nat_gateways.html">oci_core_nat_gateways</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-peer_region_for_remote_peerings") %>>
                     <a href="/docs/providers/oci/d/core_peer_region_for_remote_peerings.html">oci_core_peer_region_for_remote_peerings</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-private_ips") %>>
                     <a href="/docs/providers/oci/d/core_private_ips.html">oci_core_private_ips</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-public_ip") %>>
                     <a href="/docs/providers/oci/d/core_public_ip.html">oci_core_public_ip</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-public_ips") %>>
                     <a href="/docs/providers/oci/d/core_public_ips.html">oci_core_public_ips</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-remote_peering_connections") %>>
                     <a href="/docs/providers/oci/d/core_remote_peering_connections.html">oci_core_remote_peering_connections</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-route_tables") %>>
                     <a href="/docs/providers/oci/d/core_route_tables.html">oci_core_route_tables</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-security_lists") %>>
                     <a href="/docs/providers/oci/d/core_security_lists.html">oci_core_security_lists</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-service_gateways") %>>
                     <a href="/docs/providers/oci/d/core_service_gateways.html">oci_core_service_gateways</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-services") %>>
                     <a href="/docs/providers/oci/d/core_services.html">oci_core_services</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-shapes") %>>
                     <a href="/docs/providers/oci/d/core_shapes.html">oci_core_shapes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-subnet") %>>
                     <a href="/docs/providers/oci/d/core_subnet.html">oci_core_subnet</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-subnets") %>>
                     <a href="/docs/providers/oci/d/core_subnets.html">oci_core_subnets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-vcns") %>>
                     <a href="/docs/providers/oci/d/core_vcns.html">oci_core_vcns</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-virtual_circuit") %>>
                     <a href="/docs/providers/oci/d/core_virtual_circuit.html">oci_core_virtual_circuit</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-virtual_circuit_bandwidth_shapes") %>>
                     <a href="/docs/providers/oci/d/core_virtual_circuit_bandwidth_shapes.html">oci_core_virtual_circuit_bandwidth_shapes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-virtual_circuit_public_prefixes") %>>
                     <a href="/docs/providers/oci/d/core_virtual_circuit_public_prefixes.html">oci_core_virtual_circuit_public_prefixes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-virtual_circuits") %>>
                     <a href="/docs/providers/oci/d/core_virtual_circuits.html">oci_core_virtual_circuits</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-vnic") %>>
                     <a href="/docs/providers/oci/d/core_vnic.html">oci_core_vnic</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-vnic_attachments") %>>
                     <a href="/docs/providers/oci/d/core_vnic_attachments.html">oci_core_vnic_attachments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume") %>>
                     <a href="/docs/providers/oci/d/core_volume.html">oci_core_volume</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_attachments") %>>
                     <a href="/docs/providers/oci/d/core_volume_attachments.html">oci_core_volume_attachments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_backup_policies") %>>
                     <a href="/docs/providers/oci/d/core_volume_backup_policies.html">oci_core_volume_backup_policies</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_backup_policy_assignments") %>>
                     <a href="/docs/providers/oci/d/core_volume_backup_policy_assignments.html">oci_core_volume_backup_policy_assignments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_backups") %>>
                     <a href="/docs/providers/oci/d/core_volume_backups.html">oci_core_volume_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_group_backups") %>>
                     <a href="/docs/providers/oci/d/core_volume_group_backups.html">oci_core_volume_group_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volume_groups") %>>
                     <a href="/docs/providers/oci/d/core_volume_groups.html">oci_core_volume_groups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-core-volumes") %>>
                     <a href="/docs/providers/oci/d/core_volumes.html">oci_core_volumes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_data_warehouse") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_data_warehouse.html">oci_database_autonomous_data_warehouse</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_data_warehouse_backup") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_data_warehouse_backup.html">oci_database_autonomous_data_warehouse_backup</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_data_warehouse_backups") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_data_warehouse_backups.html">oci_database_autonomous_data_warehouse_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_data_warehouse_wallet") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_data_warehouse_wallet.html">oci_database_autonomous_data_warehouse_wallet</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_data_warehouses") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_data_warehouses.html">oci_database_autonomous_data_warehouses</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_database") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_database.html">oci_database_autonomous_database</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_database_backup") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_database_backup.html">oci_database_autonomous_database_backup</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_database_backups") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_database_backups.html">oci_database_autonomous_database_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_database_wallet") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_database_wallet.html">oci_database_autonomous_database_wallet</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-autonomous_databases") %>>
                     <a href="/docs/providers/oci/d/database_autonomous_databases.html">oci_database_autonomous_databases</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-backups") %>>
                     <a href="/docs/providers/oci/d/database_backups.html">oci_database_backups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-database") %>>
                     <a href="/docs/providers/oci/d/database_database.html">oci_database_database</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-databases") %>>
                     <a href="/docs/providers/oci/d/database_databases.html">oci_database_databases</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_home") %>>
                     <a href="/docs/providers/oci/d/database_db_home.html">oci_database_db_home</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_home_patch_history_entries") %>>
                     <a href="/docs/providers/oci/d/database_db_home_patch_history_entries.html">oci_database_db_home_patch_history_entries</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_home_patches") %>>
                     <a href="/docs/providers/oci/d/database_db_home_patches.html">oci_database_db_home_patches</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_homes") %>>
                     <a href="/docs/providers/oci/d/database_db_homes.html">oci_database_db_homes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_node") %>>
                     <a href="/docs/providers/oci/d/database_db_node.html">oci_database_db_node</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_nodes") %>>
                     <a href="/docs/providers/oci/d/database_db_nodes.html">oci_database_db_nodes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_system_patch_history_entries") %>>
                     <a href="/docs/providers/oci/d/database_db_system_patch_history_entries.html">oci_database_db_system_patch_history_entries</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_system_patches") %>>
                     <a href="/docs/providers/oci/d/database_db_system_patches.html">oci_database_db_system_patches</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_system_shapes") %>>
                     <a href="/docs/providers/oci/d/database_db_system_shapes.html">oci_database_db_system_shapes</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_systems") %>>
                     <a href="/docs/providers/oci/d/database_db_systems.html">oci_database_db_systems</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-database-db_versions") %>>
                     <a href="/docs/providers/oci/d/database_db_versions.html">oci_database_db_versions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-records") %>>
                     <a href="/docs/providers/oci/d/dns_records.html">oci_dns_records</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-steering_policies") %>>
                     <a href="/docs/providers/oci/d/dns_steering_policies.html">oci_dns_steering_policies</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-steering_policy") %>>
                     <a href="/docs/providers/oci/d/dns_steering_policy.html">oci_dns_steering_policy</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-steering_policy_attachment") %>>
                     <a href="/docs/providers/oci/d/dns_steering_policy_attachment.html">oci_dns_steering_policy_attachment</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-steering_policy_attachments") %>>
                     <a href="/docs/providers/oci/d/dns_steering_policy_attachments.html">oci_dns_steering_policy_attachments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-dns-zones") %>>
                     <a href="/docs/providers/oci/d/dns_zones.html">oci_dns_zones</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-email-sender") %>>
                     <a href="/docs/providers/oci/d/email_sender.html">oci_email_sender</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-email-senders") %>>
                     <a href="/docs/providers/oci/d/email_senders.html">oci_email_senders</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-email-suppression") %>>
                     <a href="/docs/providers/oci/d/email_suppression.html">oci_email_suppression</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-email-suppressions") %>>
                     <a href="/docs/providers/oci/d/email_suppressions.html">oci_email_suppressions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-file_storage-export_sets") %>>
                     <a href="/docs/providers/oci/d/file_storage_export_sets.html">oci_file_storage_export_sets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-file_storage-exports") %>>
                     <a href="/docs/providers/oci/d/file_storage_exports.html">oci_file_storage_exports</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-file_storage-file_systems") %>>
                     <a href="/docs/providers/oci/d/file_storage_file_systems.html">oci_file_storage_file_systems</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-file_storage-mount_targets") %>>
                     <a href="/docs/providers/oci/d/file_storage_mount_targets.html">oci_file_storage_mount_targets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-file_storage-snapshots") %>>
                     <a href="/docs/providers/oci/d/file_storage_snapshots.html">oci_file_storage_snapshots</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-http_monitor") %>>
                     <a href="/docs/providers/oci/d/health_checks_http_monitor.html">oci_health_checks_http_monitor</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-http_monitors") %>>
                     <a href="/docs/providers/oci/d/health_checks_http_monitors.html">oci_health_checks_http_monitors</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-http_probe_results") %>>
                     <a href="/docs/providers/oci/d/health_checks_http_probe_results.html">oci_health_checks_http_probe_results</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-ping_monitor") %>>
                     <a href="/docs/providers/oci/d/health_checks_ping_monitor.html">oci_health_checks_ping_monitor</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-ping_monitors") %>>
                     <a href="/docs/providers/oci/d/health_checks_ping_monitors.html">oci_health_checks_ping_monitors</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-ping_probe_results") %>>
                     <a href="/docs/providers/oci/d/health_checks_ping_probe_results.html">oci_health_checks_ping_probe_results</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-health_checks-vantage_points") %>>
                     <a href="/docs/providers/oci/d/health_checks_vantage_points.html">oci_health_checks_vantage_points</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-api_keys") %>>
                     <a href="/docs/providers/oci/d/identity_api_keys.html">oci_identity_api_keys</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-auth_tokens") %>>
                     <a href="/docs/providers/oci/d/identity_auth_tokens.html">oci_identity_auth_tokens</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-availability_domain") %>>
                     <a href="/docs/providers/oci/d/identity_availability_domain.html">oci_identity_availability_domain</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-availability_domains") %>>
                     <a href="/docs/providers/oci/d/identity_availability_domains.html">oci_identity_availability_domains</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-compartment") %>>
                     <a href="/docs/providers/oci/d/identity_compartment.html">oci_identity_compartment</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-compartments") %>>
                     <a href="/docs/providers/oci/d/identity_compartments.html">oci_identity_compartments</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-customer_secret_keys") %>>
                     <a href="/docs/providers/oci/d/identity_customer_secret_keys.html">oci_identity_customer_secret_keys</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-dynamic_groups") %>>
                     <a href="/docs/providers/oci/d/identity_dynamic_groups.html">oci_identity_dynamic_groups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-fault_domains") %>>
                     <a href="/docs/providers/oci/d/identity_fault_domains.html">oci_identity_fault_domains</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-groups") %>>
                     <a href="/docs/providers/oci/d/identity_groups.html">oci_identity_groups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-identity_provider_groups") %>>
                     <a href="/docs/providers/oci/d/identity_identity_provider_groups.html">oci_identity_identity_provider_groups</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-identity_providers") %>>
                     <a href="/docs/providers/oci/d/identity_identity_providers.html">oci_identity_identity_providers</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-idp_group_mappings") %>>
                     <a href="/docs/providers/oci/d/identity_idp_group_mappings.html">oci_identity_idp_group_mappings</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-policies") %>>
                     <a href="/docs/providers/oci/d/identity_policies.html">oci_identity_policies</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-region_subscriptions") %>>
                     <a href="/docs/providers/oci/d/identity_region_subscriptions.html">oci_identity_region_subscriptions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-regions") %>>
                     <a href="/docs/providers/oci/d/identity_regions.html">oci_identity_regions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-smtp_credentials") %>>
                     <a href="/docs/providers/oci/d/identity_smtp_credentials.html">oci_identity_smtp_credentials</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-swift_passwords") %>>
                     <a href="/docs/providers/oci/d/identity_swift_passwords.html">oci_identity_swift_passwords</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-tag_namespaces") %>>
                     <a href="/docs/providers/oci/d/identity_tag_namespaces.html">oci_identity_tag_namespaces</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-tags") %>>
                     <a href="/docs/providers/oci/d/identity_tags.html">oci_identity_tags</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-tenancy") %>>
                     <a href="/docs/providers/oci/d/identity_tenancy.html">oci_identity_tenancy</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-user_group_memberships") %>>
                     <a href="/docs/providers/oci/d/identity_user_group_memberships.html">oci_identity_user_group_memberships</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-identity-users") %>>
                     <a href="/docs/providers/oci/d/identity_users.html">oci_identity_users</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-decrypted_data") %>>
                     <a href="/docs/providers/oci/d/kms_decrypted_data.html">oci_kms_decrypted_data</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-encrypted_data") %>>
                     <a href="/docs/providers/oci/d/kms_encrypted_data.html">oci_kms_encrypted_data</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-key") %>>
                     <a href="/docs/providers/oci/d/kms_key.html">oci_kms_key</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-key_version") %>>
                     <a href="/docs/providers/oci/d/kms_key_version.html">oci_kms_key_version</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-key_versions") %>>
                     <a href="/docs/providers/oci/d/kms_key_versions.html">oci_kms_key_versions</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-keys") %>>
                     <a href="/docs/providers/oci/d/kms_keys.html">oci_kms_keys</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-vault") %>>
                     <a href="/docs/providers/oci/d/kms_vault.html">oci_kms_vault</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-kms-vaults") %>>
                     <a href="/docs/providers/oci/d/kms_vaults.html">oci_kms_vaults</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-backend_health") %>>
                     <a href="/docs/providers/oci/d/load_balancer_backend_health.html">oci_load_balancer_backend_health</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-backend_set_health") %>>
                     <a href="/docs/providers/oci/d/load_balancer_backend_set_health.html">oci_load_balancer_backend_set_health</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-backend_sets") %>>
                     <a href="/docs/providers/oci/d/load_balancer_backend_sets.html">oci_load_balancer_backend_sets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-backends") %>>
                     <a href="/docs/providers/oci/d/load_balancer_backends.html">oci_load_balancer_backends</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-certificates") %>>
                     <a href="/docs/providers/oci/d/load_balancer_certificates.html">oci_load_balancer_certificates</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-health") %>>
                     <a href="/docs/providers/oci/d/load_balancer_load_balancer_health.html">oci_load_balancer_health</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-hostnames") %>>
                     <a href="/docs/providers/oci/d/load_balancer_hostnames.html">oci_load_balancer_hostnames</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-load_balancers") %>>
                     <a href="/docs/providers/oci/d/load_balancer_load_balancers.html">oci_load_balancer_load_balancers</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-path_route_sets") %>>
                     <a href="/docs/providers/oci/d/load_balancer_path_route_sets.html">oci_load_balancer_path_route_sets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-policies") %>>
                     <a href="/docs/providers/oci/d/load_balancer_load_balancer_policies.html">oci_load_balancer_policies</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-protocols") %>>
                     <a href="/docs/providers/oci/d/load_balancer_load_balancer_protocols.html">oci_load_balancer_protocols</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-rule_set") %>>
                     <a href="/docs/providers/oci/d/load_balancer_rule_set.html">oci_load_balancer_rule_set</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-rule_sets") %>>
                     <a href="/docs/providers/oci/d/load_balancer_rule_sets.html">oci_load_balancer_rule_sets</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-load_balancer-shapes") %>>
                     <a href="/docs/providers/oci/d/load_balancer_load_balancer_shapes.html">oci_load_balancer_shapes</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-alarm") %>>
                     <a href="/docs/providers/oci/d/monitoring_alarm.html">oci_monitoring_alarm</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-alarm_history_collection") %>>
                     <a href="/docs/providers/oci/d/monitoring_alarm_history_collection.html">oci_monitoring_alarm_history_collection</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-alarm_statuses") %>>
                     <a href="/docs/providers/oci/d/monitoring_alarm_statuses.html">oci_monitoring_alarm_statuses</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-alarms") %>>
                     <a href="/docs/providers/oci/d/monitoring_alarms.html">oci_monitoring_alarms</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-metric_data") %>>
                     <a href="/docs/providers/oci/d/monitoring_metric_data.html">oci_monitoring_metric_data</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-monitoring-metrics") %>>
                     <a href="/docs/providers/oci/d/monitoring_metrics.html">oci_monitoring_metrics</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_bucket") %>>
                     <a href="/docs/providers/oci/d/object_storage_bucket.html">oci_objectstorage_bucket</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_bucket_summaries") %>>
                     <a href="/docs/providers/oci/d/object_storage_buckets.html">oci_objectstorage_bucket_summaries</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_namespace") %>>
                     <a href="/docs/providers/oci/d/object_storage_namespace.html">oci_objectstorage_namespace</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_object") %>>
                     <a href="/docs/providers/oci/d/object_storage_object.html">oci_objectstorage_object</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_object_lifecycle_policy") %>>
                     <a href="/docs/providers/oci/d/object_storage_object_lifecycle_policy.html">oci_objectstorage_object_lifecycle_policy</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_objects") %>>
                     <a href="/docs/providers/oci/d/object_storage_objects.html">oci_objectstorage_objects</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_preauthrequest") %>>
                     <a href="/docs/providers/oci/d/object_storage_preauthenticated_request.html">oci_objectstorage_preauthrequest</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-objectstorage_preauthrequests") %>>
                     <a href="/docs/providers/oci/d/object_storage_preauthenticated_requests.html">oci_objectstorage_preauthrequests</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-ons-notification_topic") %>>
                     <a href="/docs/providers/oci/d/ons_notification_topic.html">oci_ons_notification_topic</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-ons-notification_topics") %>>
                     <a href="/docs/providers/oci/d/ons_notification_topics.html">oci_ons_notification_topics</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-ons-subscription") %>>
                     <a href="/docs/providers/oci/d/ons_subscription.html">oci_ons_subscription</a>
                 </li> 
                 <li<%= sidebar_current("docs-oci-datasource-streaming-stream") %>>
                     <a href="/docs/providers/oci/d/streaming_stream.html">oci_streaming_stream</a>
                 </li>
                 <li<%= sidebar_current("docs-oci-datasource-streaming-streams") %>>
                     <a href="/docs/providers/oci/d/streaming_streams.html">oci_streaming_streams</a>
                 </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-audit-resource") %>>
            <a href="#">Audit Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-audit-configuration") %>>
                    <a href="/docs/providers/oci/r/audit_configuration.html">oci_audit_configuration</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-containerengine-resource") %>>
            <a href="#">Container Engine Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-containerengine-cluster") %>>
                    <a href="/docs/providers/oci/r/containerengine_cluster.html">oci_containerengine_cluster</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-containerengine-node_pool") %>>
                    <a href="/docs/providers/oci/r/containerengine_node_pool.html">oci_containerengine_node_pool</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-core-resource") %>>
            <a href="#">Core Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-core-app_catalog_listing_resource_version_agreement") %>>
                    <a href="/docs/providers/oci/r/core_app_catalog_listing_resource_version_agreement.html">oci_core_app_catalog_listing_resource_version_agreement</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-app_catalog_subscription") %>>
                    <a href="/docs/providers/oci/r/core_app_catalog_subscription.html">oci_core_app_catalog_subscription</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-boot_volume_backup") %>>
                    <a href="/docs/providers/oci/r/core_boot_volume_backup.html">oci_core_boot_volume_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-boot_volume") %>>
                    <a href="/docs/providers/oci/r/core_boot_volume.html">oci_core_boot_volume</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-console_history") %>>
                    <a href="/docs/providers/oci/r/core_console_history.html">oci_core_console_history</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-cpe") %>>
                    <a href="/docs/providers/oci/r/core_cpe.html">oci_core_cpe</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-cross_connect_group") %>>
                    <a href="/docs/providers/oci/r/core_cross_connect_group.html">oci_core_cross_connect_group</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-cross_connect") %>>
                    <a href="/docs/providers/oci/r/core_cross_connect.html">oci_core_cross_connect</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-dhcp_options") %>>
                    <a href="/docs/providers/oci/r/core_dhcp_options.html">oci_core_dhcp_options</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-drg_attachment") %>>
                    <a href="/docs/providers/oci/r/core_drg_attachment.html">oci_core_drg_attachment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-drg") %>>
                    <a href="/docs/providers/oci/r/core_drg.html">oci_core_drg</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-image") %>>
                    <a href="/docs/providers/oci/r/core_image.html">oci_core_image</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-instance_configuration") %>>
                    <a href="/docs/providers/oci/r/core_instance_configuration.html">oci_core_instance_configuration</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-instance_console_connection") %>>
                    <a href="/docs/providers/oci/r/core_instance_console_connection.html">oci_core_instance_console_connection</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-instance_pool") %>>
                    <a href="/docs/providers/oci/r/core_instance_pool.html">oci_core_instance_pool</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-instance") %>>
                    <a href="/docs/providers/oci/r/core_instance.html">oci_core_instance</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-internet_gateway") %>>
                    <a href="/docs/providers/oci/r/core_internet_gateway.html">oci_core_internet_gateway</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-ipsec") %>>
                    <a href="/docs/providers/oci/r/core_ip_sec_connection.html">oci_core_ipsec</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-local_peering_gateway") %>>
                    <a href="/docs/providers/oci/r/core_local_peering_gateway.html">oci_core_local_peering_gateway</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-nat_gateway") %>>
                    <a href="/docs/providers/oci/r/core_nat_gateway.html">oci_core_nat_gateway</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-private_ip") %>>
                    <a href="/docs/providers/oci/r/core_private_ip.html">oci_core_private_ip</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-public_ip") %>>
                    <a href="/docs/providers/oci/r/core_public_ip.html">oci_core_public_ip</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-remote_peering_connection") %>>
                    <a href="/docs/providers/oci/r/core_remote_peering_connection.html">oci_core_remote_peering_connection</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-route_table") %>>
                    <a href="/docs/providers/oci/r/core_route_table.html">oci_core_route_table</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-route_table_attachment") %>>
                    <a href="/docs/providers/oci/r/core_route_table_attachment.html">oci_core_route_table_attachment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-security_list") %>>
                    <a href="/docs/providers/oci/r/core_security_list.html">oci_core_security_list</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-service_gateway") %>>
                    <a href="/docs/providers/oci/r/core_service_gateway.html">oci_core_service_gateway</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-subnet") %>>
                    <a href="/docs/providers/oci/r/core_subnet.html">oci_core_subnet</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-vcn") %>>
                    <a href="/docs/providers/oci/r/core_vcn.html">oci_core_vcn</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-virtual_circuit") %>>
                    <a href="/docs/providers/oci/r/core_virtual_circuit.html">oci_core_virtual_circuit</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-vnic_attachment") %>>
                    <a href="/docs/providers/oci/r/core_vnic_attachment.html">oci_core_vnic_attachment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume_attachment") %>>
                    <a href="/docs/providers/oci/r/core_volume_attachment.html">oci_core_volume_attachment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume_backup_policy_assignment") %>>
                    <a href="/docs/providers/oci/r/core_volume_backup_policy_assignment.html">oci_core_volume_backup_policy_assignment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume_backup") %>>
                    <a href="/docs/providers/oci/r/core_volume_backup.html">oci_core_volume_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume_group_backup") %>>
                    <a href="/docs/providers/oci/r/core_volume_group_backup.html">oci_core_volume_group_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume_group") %>>
                    <a href="/docs/providers/oci/r/core_volume_group.html">oci_core_volume_group</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-core-volume") %>>
                    <a href="/docs/providers/oci/r/core_volume.html">oci_core_volume</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-database-resource") %>>
            <a href="#">Database Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-database-autonomous_data_warehouse_backup") %>>
                    <a href="/docs/providers/oci/r/database_autonomous_data_warehouse_backup.html">oci_database_autonomous_data_warehouse_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-database-autonomous_data_warehouse") %>>
                    <a href="/docs/providers/oci/r/database_autonomous_data_warehouse.html">oci_database_autonomous_data_warehouse</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-database-autonomous_database_backup") %>>
                    <a href="/docs/providers/oci/r/database_autonomous_database_backup.html">oci_database_autonomous_database_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-database-autonomous_database") %>>
                    <a href="/docs/providers/oci/r/database_autonomous_database.html">oci_database_autonomous_database</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-database-backup") %>>
                    <a href="/docs/providers/oci/r/database_backup.html">oci_database_backup</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-database-db_system") %>>
                    <a href="/docs/providers/oci/r/database_db_system.html">oci_database_db_system</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-dns-resource") %>>
            <a href="#">Dns Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-dns-record") %>>
                    <a href="/docs/providers/oci/r/dns_record.html">oci_dns_record</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-dns-steering_policy") %>>
                    <a href="/docs/providers/oci/r/dns_steering_policy.html">oci_dns_steering_policy</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-dns-steering_policy_attachment") %>>
                    <a href="/docs/providers/oci/r/dns_steering_policy_attachment.html">oci_dns_steering_policy_attachment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-dns-zone") %>>
                    <a href="/docs/providers/oci/r/dns_zone.html">oci_dns_zone</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-email-resource") %>>
            <a href="#">Email Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-email-sender") %>>
                    <a href="/docs/providers/oci/r/email_sender.html">oci_email_sender</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-email-suppression") %>>
                    <a href="/docs/providers/oci/r/email_suppression.html">oci_email_suppression</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-file_storage-resource") %>>
            <a href="#">File Storage Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-file_storage-export_set") %>>
                    <a href="/docs/providers/oci/r/file_storage_export_set.html">oci_file_storage_export_set</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-file_storage-export") %>>
                    <a href="/docs/providers/oci/r/file_storage_export.html">oci_file_storage_export</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-file_storage-file_system") %>>
                    <a href="/docs/providers/oci/r/file_storage_file_system.html">oci_file_storage_file_system</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-file_storage-mount_target") %>>
                    <a href="/docs/providers/oci/r/file_storage_mount_target.html">oci_file_storage_mount_target</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-file_storage-snapshot") %>>
                    <a href="/docs/providers/oci/r/file_storage_snapshot.html">oci_file_storage_snapshot</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-health_checks-resource") %>>
            <a href="#">Health Checks Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-health_checks-http_monitor") %>>
                    <a href="/docs/providers/oci/r/health_checks_http_monitor.html">oci_health_checks_http_monitor</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-health_checks-http_probe") %>>
                    <a href="/docs/providers/oci/r/health_checks_http_probe.html">oci_health_checks_http_probe</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-health_checks-ping_monitor") %>>
                    <a href="/docs/providers/oci/r/health_checks_ping_monitor.html">oci_health_checks_ping_monitor</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-health_checks-ping_probe") %>>
                    <a href="/docs/providers/oci/r/health_checks_ping_probe.html">oci_health_checks_ping_probe</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-identity-resource") %>>
            <a href="#">Identity Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-identity-api_key") %>>
                    <a href="/docs/providers/oci/r/identity_api_key.html">oci_identity_api_key</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-auth_token") %>>
                    <a href="/docs/providers/oci/r/identity_auth_token.html">oci_identity_auth_token</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-compartment") %>>
                    <a href="/docs/providers/oci/r/identity_compartment.html">oci_identity_compartment</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-customer_secret_key") %>>
                    <a href="/docs/providers/oci/r/identity_customer_secret_key.html">oci_identity_customer_secret_key</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-dynamic_group") %>>
                    <a href="/docs/providers/oci/r/identity_dynamic_group.html">oci_identity_dynamic_group</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-group") %>>
                    <a href="/docs/providers/oci/r/identity_group.html">oci_identity_group</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-identity_provider") %>>
                    <a href="/docs/providers/oci/r/identity_identity_provider.html">oci_identity_identity_provider</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-idp_group_mapping") %>>
                    <a href="/docs/providers/oci/r/identity_idp_group_mapping.html">oci_identity_idp_group_mapping</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-policy") %>>
                    <a href="/docs/providers/oci/r/identity_policy.html">oci_identity_policy</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-smtp_credential") %>>
                    <a href="/docs/providers/oci/r/identity_smtp_credential.html">oci_identity_smtp_credential</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-swift_password") %>>
                    <a href="/docs/providers/oci/r/identity_swift_password.html">oci_identity_swift_password</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-tag_namespace") %>>
                    <a href="/docs/providers/oci/r/identity_tag_namespace.html">oci_identity_tag_namespace</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-tag") %>>
                    <a href="/docs/providers/oci/r/identity_tag.html">oci_identity_tag</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-ui_password") %>>
                    <a href="/docs/providers/oci/r/identity_ui_password.html">oci_identity_ui_password</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-user_capabilities_management") %>>
                    <a href="/docs/providers/oci/r/identity_user_capabilities_management.html">oci_identity_user_capabilities_management</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-user_group_membership") %>>
                    <a href="/docs/providers/oci/r/identity_user_group_membership.html">oci_identity_user_group_membership</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-identity-user") %>>
                    <a href="/docs/providers/oci/r/identity_user.html">oci_identity_user</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-kms-resource") %>>
            <a href="#">Kms Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-kms-encrypted_data") %>>
                    <a href="/docs/providers/oci/r/kms_encrypted_data.html">oci_kms_encrypted_data</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-kms-generated_key") %>>
                    <a href="/docs/providers/oci/r/kms_generated_key.html">oci_kms_generated_key</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-kms-key_version") %>>
                    <a href="/docs/providers/oci/r/kms_key_version.html">oci_kms_key_version</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-kms-key") %>>
                    <a href="/docs/providers/oci/r/kms_key.html">oci_kms_key</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-kms-vault") %>>
                    <a href="/docs/providers/oci/r/kms_vault.html">oci_kms_vault</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-load_balancer-resource") %>>
            <a href="#">Load Balancer Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-load_balancer-backend_set") %>>
                    <a href="/docs/providers/oci/r/load_balancer_backend_set.html">oci_load_balancer_backend_set</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-backend") %>>
                    <a href="/docs/providers/oci/r/load_balancer_backend.html">oci_load_balancer_backend</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-certificate") %>>
                    <a href="/docs/providers/oci/r/load_balancer_certificate.html">oci_load_balancer_certificate</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-hostname") %>>
                    <a href="/docs/providers/oci/r/load_balancer_hostname.html">oci_load_balancer_hostname</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-listener") %>>
                    <a href="/docs/providers/oci/r/load_balancer_listener.html">oci_load_balancer_listener</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-load_balancer") %>>
                    <a href="/docs/providers/oci/r/load_balancer_load_balancer.html">oci_load_balancer_load_balancer</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-path_route_set") %>>
                    <a href="/docs/providers/oci/r/load_balancer_path_route_set.html">oci_load_balancer_path_route_set</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-load_balancer-rule_set") %>>
                    <a href="/docs/providers/oci/r/load_balancer_rule_set.html">oci_load_balancer_rule_set</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-monitoring-resource") %>>
            <a href="#">Monitoring Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-monitoring-alarm") %>>
                    <a href="/docs/providers/oci/r/monitoring_alarm.html">oci_monitoring_alarm</a>
                </li> 
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-object_storage-resource") %>>
            <a href="#">Object Storage Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-objectstorage_bucket") %>>
                    <a href="/docs/providers/oci/r/object_storage_bucket.html">oci_objectstorage_bucket</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-objectstorage_object_lifecycle_policy") %>>
                    <a href="/docs/providers/oci/r/object_storage_object_lifecycle_policy.html">oci_objectstorage_object_lifecycle_policy</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-objectstorage_object") %>>
                    <a href="/docs/providers/oci/r/object_storage_object.html">oci_objectstorage_object</a>
                </li>
                <li<%= sidebar_current("docs-oci-resource-objectstorage_preauthrequest") %>>
                    <a href="/docs/providers/oci/r/object_storage_preauthenticated_request.html">oci_objectstorage_preauthrequest</a>
                </li>
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-ons-resource") %>>
            <a href="#">Ons Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-ons-notification_topic") %>>
                    <a href="/docs/providers/oci/r/ons_notification_topic.html">oci_ons_notification_topic</a>
                </li> 
                <li<%= sidebar_current("docs-oci-resource-ons-subscription") %>>
                    <a href="/docs/providers/oci/r/ons_subscription.html">oci_ons_subscription</a>
                </li> 
            </ul>
        </li>
        <li<%= sidebar_current("docs-oci-streaming-resource") %>>
            <a href="#">Streaming Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-oci-resource-streaming-stream") %>>
                    <a href="/docs/providers/oci/r/streaming_stream.html">oci_streaming_stream</a>
                </li>
                </li> 
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
